* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
}

/* Navbar */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 10px 20px;
    box-shadow: 0px 0px 2px 2px rgb(182, 180, 180) ;
    font-weight: bold;
}

nav .logo-container {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}

nav .logo-container img {
    width: 130px;
}

nav .menu-container {
    width: 40%;
}

nav .menu-container ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    /* background-color: blueviolet; */
}

nav .menu-container ul li a {
    text-decoration: none;
    color: black;
}

nav .login-register-container {
    /* background-color: salmon; */
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav .login-register-container a {
    padding: 5px 30px;
    text-decoration: none;
    border-radius: 4.12px;
    -webkit-border-radius: 4.12px;
    -moz-border-radius: 4.12px;
    -ms-border-radius: 4.12px;
    -o-border-radius: 4.12px;
}

nav .login-register-container a.login-button {
    border: 2px solid #545BE8;
    color: #545BE8;
}

nav .login-register-container a.register-button {
    border: 2px solid #545BE8;
    background-color: #545BE8;
    color: white;
}
/* Navbar end */

/* Hero section */
section.hero-section {
    padding: 40px 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

section.hero-section .text-container {
    /* background-color: aqua; */
    width: 60%;
    /* height: 340px; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

section.hero-section .text-container p:first-child {
    color: #545BE8;
}

section.hero-section .text-container p:first-child span {
    font-weight: bold;
}

section.hero-section .text-container h1 {
    font-weight: bold;
    font-size: 3rem;
}

section.hero-section .text-container h1 span {
    color: #545BE8;
}

section.hero-section .text-container p {
    color: #969696;
}

section.hero-section .image-container {
    display: flex;
    justify-content: end;
    align-items: center;
    /* background-color: salmon; */
    width: 60%;
    /* height: 340px; */
}

section.hero-section .image-container img {
    width: 300px;
}

section.hero-section .text-container .cta-container {
    display: flex;
    gap: 20px;
}

section.hero-section .text-container .cta-container button {
    cursor: pointer;
    font-weight: bold;
    padding: 5px 20px;
    border: none;
    border-radius: 4.12px;
    -webkit-border-radius: 4.12px;
    -moz-border-radius: 4.12px;
    -ms-border-radius: 4.12px;
    -o-border-radius: 4.12px;
}

section.hero-section .text-container .cta-container button:first-child {
    background-color: #545BE8;
    color: white;
}

section.hero-section .text-container .cta-container button:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

section.hero-section .text-container .cta-container button:last-child p {
    color: black;
}

section.hero-section .text-container .cta-container button img{
    width: 20px;
}
/* Hero section end */

/* What we give section */
section.what-we-give-section {
    width: 100%;
    padding: 40px 80px 40px 60px;
    display: flex;
    justify-content: end;
    align-items: start;
    gap: 20px;

}

section.what-we-give-section .text-container {
    padding: 20px 10px 20px 50px;
    background-color: white;
    width: 30vw;
    height: 350px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    left: 0;
}

section.what-we-give-section .text-container h2 {
    font-weight: bolder;
}

section.what-we-give-section .text-container p:first-child {
    color: #545BE8;
    font-size: 13px;
}

section.what-we-give-section .text-container p:last-child {
    color: #969696;
    font-size: 13px;
}

section.what-we-give-section .give-container {
    /* background-color: purple; */
    width: 65%;
    height: 270px;
    padding: 5px 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;  
    overflow: scroll;
}

section.what-we-give-section .give-container::-webkit-scrollbar {
    width: 0;
}

section.what-we-give-section .give-container .card {
    padding: 20px;
    background-color: #545BE8;
    min-width: 230px;
    height: 230px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;
    border-radius: 4.12px;
    -webkit-border-radius: 4.12px;
    -moz-border-radius: 4.12px;
    -ms-border-radius: 4.12px;
    -o-border-radius: 4.12px;
}

section.what-we-give-section .give-container .card h2 {
    font-size: 15px;
}

section.what-we-give-section .give-container .card p {
    font-size: 10px;
}

section.what-we-give-section .give-container .card .circle-image {
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.what-we-give-section .give-container .card .circle-image img {
    width: 30px;
}
/* What we give section end */

/* Selected course section */
section.selected-course {
    padding: 40px 110px;
    background: rgb(84,91,232);
    background: linear-gradient(90deg, rgb(59, 67, 216) 0%, rgba(9,9,121,1) 100%, rgba(0,212,255,1) 100%);
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

section.selected-course .image-container {
    width: 40%;
    /* background-color: aqua; */
}

section.selected-course .image-container img {
    width: 300px;
}

section.selected-course .text-container {
    width: 60%;
    /* background-color: salmon; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 30px;
    color: white;
}

section.selected-course .text-container p:first-child {
    color: #F0C932;
}

section.selected-course .text-container h2 {
    font-size: 2rem;
}

section.selected-course .text-container .statistics {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    text-align: center;
}

section.selected-course .text-container .statistics h5 {
    color: #F0C932;
    font-size: 1.2rem;
}
/* Selected course section end */

/* Available section */
section.available-course {
    padding: 40px 110px;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 30px;
}

section.available-course .courses .course-card {
    width: 230px;
    box-shadow: 9px 10px 41px -6px rgba(0,0,0,0.75);
-webkit-box-shadow: 9px 10px 41px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 9px 10px 41px -6px rgba(0,0,0,0.75);
}

section.available-course .courses {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

section.available-course .courses .course-card {
    border-radius: 4.12px;
    -webkit-border-radius: 4.12px;
    -moz-border-radius: 4.12px;
    -ms-border-radius: 4.12px;
    -o-border-radius: 4.12px;
}

section.available-course .courses .course-card .image-container img {
    width: 230px;
}

section.available-course .courses .course-card .text-container {
    width: 100%;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 5px;
}

section.available-course .courses .course-card .text-container .title-and-views {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

section.available-course .courses .course-card .text-container .title-and-views h2 {
    font-size: .8rem;
}

section.available-course .courses .course-card .text-container .title-and-views p {
    font-size: .5rem;
    color: blue;
}

section.available-course .courses .course-card .text-container .videos-and-teacher {
    /* position: absolute; */
    width: 100%;
    display: flex;
    justify-content: start;
    gap: 20px;
    font-size: .6rem;
}

section.available-course .available-for-you {
    /* background-color: salmon; */
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 30px;
}

section.available-course .available-for-you p:first-child {
    color: #545BE8;
}

section.available-course .available-for-you p {
    color: #969696;
}

section.available-course .available-for-you button {
    background-color: #545BE8;
    color: white;
    padding: 5px 40px;
    border-radius: 4.12px;
    -webkit-border-radius: 4.12px;
    -moz-border-radius: 4.12px;
    -ms-border-radius: 4.12px;
    -o-border-radius: 4.12px;
    border: none;
}
/* Available section end */

/* Testimonials section */
section.testimonials {
    padding: 40px 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

section.testimonials .cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

section.testimonials .cards-container .card {
    width: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;
    /* border: 1px solid black; */
    box-shadow: 9px 10px 41px -6px rgba(0,0,0,0.75);
    -webkit-box-shadow: 9px 10px 41px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 10px 41px -6px rgba(0,0,0,0.75);
}

section.testimonials .cards-container .card .profile-container {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

section.testimonials .cards-container .card .profile-container .image-container img {
    width: 50px;
}

section.testimonials .cards-container .card .profile-container .name-container h6 {
    font-size: 1rem;
}

section.testimonials .cards-container .card .profile-container .name-container p {
    color: #969696;
}

section.testimonials .cards-container .card .rates img{
    width: 150px;
}

section.testimonials .cards-container .card p {
    color: #969696;
}
/* Testimonials section end */

/* Footer */
footer {
    width: 100%;
    padding: 40px 110px;
    background-color: #393E46;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

footer .logo-and-sosmed-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: white;
}

footer .logo-and-sosmed-container img {
    width:150px;
}

footer .logo-and-sosmed-container p {
    font-size: 10px;
}

footer .logo-and-sosmed-container .sosmed-container {
    display: flex;
    gap: 20px;
}

footer .logo-and-sosmed-container .sosmed-container a {
    text-decoration: none;
    color: white;
    /* padding: 6px; */
    border: 1px solid white;
    font-size: 11px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

footer .nav-container {
    width: 50%;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

footer .nav-container .home,
footer .nav-container .course,
footer .nav-container .article,
footer .nav-container .contact-us {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer .nav-container .home h1,
footer .nav-container .course h1,
footer .nav-container .article h1,
footer .nav-container .contact-us h1{
    font-size: 15px;
    color: white;
}

footer .nav-container .home a,
footer .nav-container .course a,
footer .nav-container .article a,
footer .nav-container .contact-us a {
    color: white;
    text-decoration: none;
    font-size: 10px;
}
/* Footer end */

/** Media queries  */
@media screen and (max-width:912px){
    
    nav .menu-container ul{
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        font-size: 11px;
    }

    nav .login-register-container {
        width: 30%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    nav .login-register-container a {
        padding: 5px 10px;
        text-decoration: none;
        border-radius: 4.12px;
        -webkit-border-radius: 4.12px;
        -moz-border-radius: 4.12px;
        -ms-border-radius: 4.12px;
        -o-border-radius: 4.12px;
    }
    
    nav .login-register-container a.login-button {
        border: 2px solid #545BE8;
        color: #545BE8;
    }

    section.hero-section {
        padding: 40px 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    section.what-we-give-section {
        width: 100%;
        padding: 40px 60px 40px 20px;
        display: flex;
        justify-content: end;
        align-items: start;
        gap: 20px;
    
    }

    section.selected-course {
        padding: 40px 30px;
        display: flex;
        justify-content: space-around;
        gap: 50px;
    }

    section.selected-course .text-container .statistics {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
        text-align: center;
    }

    section.available-course {
        padding: 40px 30px;
        display: flex;
        justify-content: center;
        align-items: start;
        gap: 30px;
    }
    

    section.testimonials .cards-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    section.testimonials .cards-container .card {
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 20px;
        box-shadow: 9px 10px 41px -6px rgba(0,0,0,0.75);
        -webkit-box-shadow: 9px 10px 41px -6px rgba(0,0,0,0.75);
        -moz-box-shadow: 9px 10px 41px -6px rgba(0,0,0,0.75);
    }

    footer {
        width: 100%;
        padding: 40px 20px;
        background-color: #393E46;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}

.warning {
    display: none;
    width: 100%;
    height: 100vh;
    background-color: white;
    justify-content: center;
    align-items: center;
    color: #545BE8;
    font-size: 20px;
    font-weight: 900;
}

@media screen and (max-width: 576px){
    .full-container {
        display: none;
    }

    .warning {
        display: flex;
    }
}

